/* FONT POPPINS -----------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* FONT KARLA */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
/* FONT INCOSOLATA */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    scroll-behavior: smooth;
}

/* STYLES ------------------------------------------------------------------------*/
:root{
    --color-main:#fffffa;
    --main-font:"Poppins", sans-serif;
    --title-font:"Karla", sans-serif;
    --description-font:"Inconsolata", monospace;
    --color-secondary: #344c64;
    --hover-linkedin:rgb(226, 184, 67);
    --hover-react:#61DBFB ;
    --color-details:#748aa8;
    --color-light-details:#c0dbff;
    --color-background-project:#f5f5f0;
    --color-white:#fff;
    --color-black: black;

}


/* GENERAL ------------------------------------------------------------------------*/
body{
    background-color: var(--color-main);
}
h3{
    font-size: 14px;
}
h1{
    font-size: 34px;
    margin-top: 2px;
    margin-bottom: 3px;
}

.section-title{
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
}
a{
    text-decoration: none;
}

/* BOTON GENERAL ------------------------------------------------------------------*/
.btn{
    position: relative;
    padding:8px 12px;
    border: none;
    border-radius: 8px;
    font-family: var(--main-font);
    box-shadow: 3px 3px 0 0 black;
    color: black;
    font-size: 24px;
    font-weight: 400;
    transition: .5s all ;
    &:hover{
        cursor: pointer;
        transform: scale(.9,.9);
        transform: translate(5px,5px);
        box-shadow:none;
    }

}


/* HEADER -------------------------------------------------------------------------*/
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.container-title{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    & div{
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    & span{
        background-color: var(--color-secondary);
        padding: 1px 3px;
        color: var(--color-details);
        font-weight: 600;
        border-radius: 2px;
        box-shadow: 2px 2px 5px 0 gray;
      
    }
}
.btn-scroll-project{
    padding: .4rem .9rem;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    background-color: var(--color-background-project);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background: var(--color-background-project);
    box-shadow:  -5px 5px 10px #d8d8d3,
                 5px -5px 10px #ffffff;
    

    font-size: 18px;
    color: var(--color-secondary);

    


      
}


/* TECHNO ------------------------------------------------------------------------*/

.techno{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-tech-list{
    text-align: center;
    margin-bottom: 3rem;

    & h3{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    & i{
        font-size: 30px;
        transition: .4s ease;
        

    }
}
.tech-stack,
.tech-learn{
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-bottom: 2rem;
    width: 100px;
}

.tech-item{
    transition: .4s ease-in;


    & i:hover{
        color: var(--hover-linkedin);
    }

}
.tech-item:hover,
.tech-learn-item:hover{
        transform: scale(1.2,1.2);
        margin:0 .2rem;
}

.tech-learn-item{
    transition: .4s ease-in;
    & i:hover{
        color: var(--hover-react);
    }
}

/* PROJECTS -----------------------------------------------------------------------------*/

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
    padding-bottom: 5rem;
}
.container-project{
    margin-top: 3rem;

}
.container-project-produ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
}
.project-preview{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 310px;
    overflow: hidden;
    border-radius: 25px;
    
    


}
.project-preview-info{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: var(--color-secondary);
    border-radius: 24px;
    cursor: pointer;
    padding: 1rem 2rem;
    transition: all 1s;


}
.project-preview-name{
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 600;
    color: var(--color-white);
}



.project-preview-tech{
    display: flex;
    gap:.5rem;
    

    & a{
        opacity: 0.5;
        background-color: var(--color-details);
        padding-inline: 5px;
        justify-content: center;
        align-items:center;
        border-radius: 6px;
        color: var(--color-black);
        transition: .7s all;
        
        &:hover{
            transform: scale(1.1,1.1) translateY(-3px);
            opacity: 1;
            background-color: var(--color-light-details);
            box-shadow: 0 1px 10px .3px rgb(182, 181, 181);
        }
    }

}

.project{
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-project);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    height: 0;
    animation: close .4s ease-in;


}


.project-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    
    
 
}
.project-tech{
    display: flex;
    gap: 1rem;
    
    
}
 
.project-preview.active{
    transform: scale(1,1);
    
    transition: all 1s;
    box-shadow:  -5px 5px 10px #d8d8d3,
                 5px -5px 10px #ffffff;

}
@keyframes close {
    0%{
        height: 99%;
    }
    50%{
        height: 400px;
    }
    100%{
        height: 0px;
    }
}
@keyframes animation{
    0%{
        height: 0px;
    }
    50%{
        height: 400px;
    }
  
    100%{
        height: 100%;
    }
}

.project-preview.active .project{
    display: flex;
    animation: animation 1s ease-in forwards;



}



.project-preview.active .project-preview-info{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

}

.btn-project{
    margin-top: 2.3rem;
    display: none;
}

/* ABOUT ME ------------------------------------------------------------------------------*/


.about-me-info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 3rem;
    background: var(--color-main);
    box-shadow:  50px -50px 100px #fafaf5,
                 -50px 50px 100px #ffffff;
}
.about-me-profile{
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    padding: 2rem;
    gap: 2rem;

}
.about-me-img{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    & img{
        border-radius: 8px;
        width: 150px;
        height: fit-content;
    }
    & .personal-info{
        display: flex;
        justify-content: space-around;
        background-color:var(--color-background-project);
        padding: .5rem;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        position: absolute;
        bottom: -24px;
        width: 100%;
        & p{
            font-family: var(--description-font);
            display: flex;
            gap: .2rem;
            font-size: 10px;
            color: var(--color-details);
        }
    }
}
.about-me-data{
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;

    & a{
        width: fit-content;
        background-color: var(--color-background-project);
        color: var(--color-details);
        padding: 2px 5px;
        border-radius: 8px;
        transition: .5s;

        &:hover{
            cursor: pointer;
            background-color: var(--color-details);
            color: var(--color-background-project);
        }
    }

}
.about-me-description{
    padding: 1rem;
    text-align: left;
    & p{
        font-family: var(--description-font);
        margin-bottom: 1rem;
    }
}


/* CONTACT ME -----------------------------------------------------------------------------*/
.contact-me-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto 3rem;

}

.contact-info{
    display: flex;
    justify-content: center;
    padding-inline: 1rem;
    border-radius: 10px;
    align-items: center;
    color: var(--color-black);
    gap: 1rem;
    background-color: var(--color-background-project);
    border-radius: 10px;
    background: var(--color-background-project);
    box-shadow:  -5px 5px 10px #d8d8d3,
                 5px -5px 10px #ffffff;
}
.email{
    font-size: 14px;
}
.btn-copy{
    padding: .3rem;
    color: var(--color-black);
    cursor: pointer;
    background: none;
    border: none;
    transition: .2s;
     &:hover{
        transform: scale(1.1,1.1);
     }
}


/* MEDIA SCREEN 480PX -----------------------------------------------------------------------*/

@media screen and (min-width: 480px){
 
    .about-me-data{        
        gap:1rem;
    }
    .project-preview{
        width: 100%;
    }
    .project-tech{
        font-size: 2rem;
        
    }
   

}

@media screen and (min-width:768px) {

    .techno{
        margin-bottom: 4rem;
    }
    .container-project-produ{
        padding-inline: 3rem;
    }
    .project-description{
        max-width: 450px;
    }
    .about-me-info{
        align-items: start;
        flex-direction: row;
        padding: 2rem;
        gap: 2rem;
    }
    .about-me-profile{
        flex-direction: column;
        padding: 0;
        gap: 3rem;
        
    }
    .about-me-img{
        & img{
            width: 200px;
        }
        & .personal-info{
            & p{
                font-size: 14px;
            }
        }
    }
    .about-me-description{
        padding: 0;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        & p{
            font-size: 22px;        
        }
    }
}

@media screen and (min-width:1024px){
    h1{
        font-size: 40px;
    }
    h3{
        font-size: 18px;
    }
    .container-title{
        margin-top: 8rem;
        & h1{
            transition: all .6s ease;
            &:hover{
                letter-spacing: 3px;
                transform: scale(1.2,1.2);
            }
        }
    }
    .tech-stack,.tech-learn{
        margin-bottom: 4rem;
    }

    .project img{
        height: 350px;
        object-fit: cover;
    }
    
    .project-preview-name{
        font-size: 24px;
    }
    
    
    
    .about-me-info{
        margin-inline: 4rem;

    }
    
    .about-me-img{
        & img{
            width: 220px;
        }
    }
    .about-me-description{
     
        & p{
            font-size: 24px;        
        }
    }

    .about-me-data{
        & a{

            &:hover{
                transform: rotate(-5deg);
            }
        }
    }
}