/* FONT POPPINS -----------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* FONT KARLA */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

/* STYLES ------------------------------------------------------------------------*/
:root{
    --main-font:"Poppins", sans-serif;
    --color-secondary: #344c64;
    --title-font:"Karla", sans-serif;

}


/* GENERAL ------------------------------------------------------------------------*/
body{
    background-color: #fffffa;
}
h3{
    font-size: 14px;
}
h1{
    font-size: 34px;
}

.section-title{
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
}
a{
    text-decoration: none;
}

/* BOTON GENERAL ------------------------------------------------------------------*/
.btn{
    position: relative;
    padding:8px 12px;
    border: none;
    border-radius: 8px;
    font-family: var(--main-font);
    box-shadow: 3px 3px 0 0 black;
    color: black;
    font-size: 24px;
    font-weight: 400;
    transition: .5s all ;
    &:hover{
        cursor: pointer;
        transform: scale(.9,.9);
        transform: translate(5px,5px);
        box-shadow:none;
    }
    /* &::before{
        content: "";
        position: absolute;
        background-color: black;
        width: 2px;
        height: 5px;
        bottom: -1px;
        left: 3.7px;
        transform: rotate(-45deg);
        z-index:-2;
    }
    &::after{
        content: "";
        position: absolute;
        background-color: black;
        width: 2px;
        height: 5px;
        top: 1.6px;
        right: 1px;
        transform: rotate(-47deg);
        z-index:-2;
        
    } */
}
/* .btn:hover::before,
.btn:hover::after{
    display: none;
    
} */





/* HEADER -------------------------------------------------------------------------*/
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.container-title{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 8rem;

    & span{
        background-color: var(--color-secondary);
        padding: 1px 3px;
        color: #748aa8;
        font-weight: 600;
        border-radius: 2px;
        box-shadow: 2px 2px 5px 0 gray;
      
    }
}


/* TECHNO ------------------------------------------------------------------------*/

.techno{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:4rem;
}

.container-tech-list{
    text-align: center;
    margin-bottom: 3rem;

    & h3{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    & i{
        font-size: 30px;
        transition: .4s ease;
        

    }
}
.tech-stack,
.tech-learn{
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-bottom: 6rem;
    width: 100px;
}

.tech-item{
    transition: .4s ease-in;


    & i:hover{
        color: rgb(226, 184, 67);
    }

}
.tech-item:hover,
.tech-learn-item:hover{
        transform: scale(1.2,1.2);
        margin:0 .2rem;
}

.tech-learn-item{
    transition: .4s ease-in;
    & i:hover{
        color: #61DBFB;
    }
}

/* PROJECTS -----------------------------------------------------------------------------*/

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
    padding-bottom: 5rem;
}
.container-project{
    margin-top: 3rem;

}
.container-project-produ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    
    
}
.project-preview{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 310px;
    overflow: hidden;
    border-radius: 25px;
    
    


}
.project-preview-info{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: var(--color-secondary);
    border-radius: 24px;
    cursor: pointer;
    padding: 1rem 2rem;
    transition: all 1s;


}
.project-preview-name{
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}



.project-preview-tech{
    display: flex;
    gap:.5rem;
    

    & a{
        opacity: 0.5;
        background-color: #748aa8;
        padding-inline: 5px;
        justify-content: center;
        align-items:center;
        border-radius: 6px;
        color: black;
        transition: .7s all;
        
        &:hover{
            transform: scale(1.1,1.1) translateY(-3px);
            opacity: 1;
            background-color: #c0dbff;
            box-shadow: 0 1px 10px .3px rgb(182, 181, 181);
        }
    }

}

.project{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f0;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    height: 0;
    animation: close .4s ease-in;

}


.project-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    
    
 
}
.project-tech{
    display: flex;
    gap: 1rem;
    
    
}
 
.project-preview.active{
    transform: scale(1,1);
    /* border: #86694C solid 1px; */
    
    transition: all 1s;
    box-shadow: 5px 5px 20px 1px rgb(223, 223, 223),
    -5px -5px 20px 1px rgb(223, 223, 223);

}
@keyframes close {
    0%{
        height: 99%;
    }
    50%{
        height: 400px;
    }
    100%{
        height: 0px;
    }
}
@keyframes animation{
    0%{
        height: 0px;
    }
    50%{
        height: 400px;
    }
  
    100%{
        height: 100%;
    }
}

.project-preview.active .project{
    display: flex;
    animation: animation 1s ease-in forwards;



}



.project-preview.active .project-preview-info{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

}

.btn-project{
    margin-top: 2.3rem;
    display: none;
}

/* SOCIAL --------------------------------------------------------------------------------*/
.social-container{
    margin-bottom: 5rem;
}
.social-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 2rem 0;

    & a{
        text-decoration: none;
        color: black;
        font-size: 28px;
        transition: .4s ease-in;
        
        & .linkedin{
            transition:.2s ease-in;
            &:hover{
                color: #0e76a8;
            }
        }
        
    }
}

.social-items a:hover{
    transform: scale(1.2,1.2);
    margin:0 .2rem;
}




/* ABOUT ME ------------------------------------------------------------------------------*/


.about-me-info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 3rem;
}

/* CONTACT ME -----------------------------------------------------------------------------*/

.contact-me-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

}

.contact-info{
    display: flex;
    gap: 1rem;
}
.email{
    font-size: 14px;
}
